<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
    <div id="app">
        <ul v-for="msg in msgs">
            <input type="checkbox" :value="msg.consultId" v-model="se">{{msg.consultTitle}}
        </ul>

        <div>{{se}}</div>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                PREFIX_HTTP: 'http://localhost:8080',
                news: {
                    category: '',
                    newsIndexVOs: [{
                        newId: 0,
                        imageUrl: '',
                        title: '',
                        createTime: '',
                        data : {
                            author: ''
                        }
                    }]
                },
            },
            created() {
                this.$http.get(this.PREFIX_HTTP + '/news/public').then(function (res) {
                    console.log(res);
                }, function () {
                    console.log('failed!')
                });
                console.log(this);
            }
        })
    </script>
</body>
</html>